
@mixin fadeInGenerator($name, $start, $end) {
    @keyframes #{$name} {
        from {top: #{$start};}
        to   {top: #{$end};}
    }
}


@mixin star($size, $color) {
    .star.star {
        border-bottom-color: #{$color};
      
        /* Controlls the size of the stars. */
        font-size: #{$size};
        
        &:before, &:after {
          border-bottom-color: #{$color};        
        }
      }
}